<!-- begin footer -->
<div class="footer">
    <div class="container">
        <div class="row start bottom-8">
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <a href="http://github.com/bluegreen-labs" target="_blank">
                          <div class="icon fab fa-github"></div></a>
                        <a href="https://bluegreenlabs.org/labs/" target="_blank">
                          <div class="icon fa fa-flask"></div></a>
                        <a href="http://twitter.com/bluegreen_labs" target="_blank">
                          <div class="icon fab fa-twitter"></div></a>
                    </div>
                </div>
                <div class="row top-4">
                    <div class="col-md-2 col-sm-4">
                        <ul>
                            <h5 class="bottom-2">About</h5>
                            <li><a href="https://bluegreenlabs.org/#intro">BlueGreen Labs</a></li>
                            <li><a href="https://bluegreenlabs.org/#people">Our Team</a></li>
                            <li><a href="https://bluegreenlabs.org/#contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <ul>
                            <h5 class="bottom-2">Resources</h5>
                            <li><a href="https://github.com/bluegreen-labs">Packages</a></li>
                            <li><a href="https://bluegreenlabs.org/publication/">Publications</a></li>
                            <li><a href="https://bluegreenlabs.org/post/">Blog</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- / end footer -->
